@media screen and (min-width: @mq_xxl) {
	body {
		background-color: black;
	}
}

@media screen and (max-width: @mq_xl) {
	body {
		background-color: yellow;
	}
}

@media screen and (max-width: @mq_l) {
	body {
		background-color: magenta;
	}
}

@media screen and (max-width: @mq_m) {
	body {
		background-color: cyan;
	}
}

@media screen and (max-width: @mq_s) {
	body {
		background-color: #00f;
	}
}

@media screen and (max-width: @mq_xs) {
	body {
		background-color: #0f0;
	}
}

@media screen and (max-width: @mq_xxs) {
	body {
		background-color: #f00;
	}
}

